@page "/"
@inject HttpClient Http

<h4>Benchmark Administration</h4>

<div class="margin">
    Before starting the benchmark, make sure all databases are filled with test data! Depending on the cpu cores and ram of the docker containers, this may take a while!
</div>

<InsertButton DatabaseName="Postgres" Url="database/sql"></InsertButton>

<InsertButton DatabaseName="Mongo" Url="database/mongo"></InsertButton>

<InsertButton DatabaseName="Neo4j" Url="database/neo4j"></InsertButton>

@code {

}